* {
    color: #aaaaaa;
}
body {
  background-color: #000000;
}
input, button {
  background-color: #222222;
  color: #dddddd;
}
::-webkit-scrollbar {
    background: #333333;
}
::-webkit-scrollbar-track{
    background: #aaaaaa;
}
::-webkit-scrollbar-thumb{
  background: #eeeeee;
  border: 1px solid #111111;
  border-top-width: 2px;
  border-bottom-width: 2px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
  }
/*buttonBar colors*/
#buttonBar, #mobileBar {
    background-color: #333333;
}
#buttonBar button, #mobileBar button {
    background-color: #111111;
}
#buttonBar button:hover, #mobileBar button:hover {
    background-color: #888800;
}
#toggleFilesButton:hover {
    background-color: #000088;
}
.bigButton {
    background-color: #000088;
}
.bigButton:hover {
    background-color: #888800;
}
#mobileBar button.open {
    background-color: #888800;
}
/*Button icons*/
#logo {
    background-image: url("images/logo.png");
}
#personalLogo {
    background-image: url("images/personalLogo.png");
}
#settingsButton {
    background-image: url("images/settings.png");
}
#shareButton {
    background-image: url("images/share.png");
}
#filesButton, #toggleFilesButton {
    background-image: url("images/files.png");
}
#codeButton {
    background-image: url("images/code.png");
}
#resultButton {
    background-image: url("images/result.png");
}
#newFile {
    background-image: url("images/plus.png");
}
#upload {
    background-image: url("images/upload.png");
}
#run {
  background-image: url("images/run.png");
}
#download {
  background-image: url("images/upload.png");
  transform: rotate(180deg);
}
#save {
  background-image: url("images/save.png");
}
/*main*/
main {
    background-color: #0f0f0f;
    background-image: url("images/logo.png");
}
#toggleFilesButton {
    background-color: #444444;
}
#files, .popup .content, .popup h1 {
    background-color: #010101;
}
#files, #code, #result, #mobilePlaceholder {
    background-color: #010101;
    border: 1px solid #888888;
}
#files #search {
    background-image: url("images/search.png");
    background-color: #000000;
}

/*Files*/
.fileItem {
  background-color: #0f0f0f;
  border-bottom: 2px solid #aaaaaa;
}
.fileItem:hover .fileName {
  color: #ffffaa
}
.fileItem.open {
  background-color: #0f0fff;
  border-bottom: 2px solid #aaaaaa;
}
.fileName {
  color: #aaaaaa;
  text-align: left;
  padding: 2px;
}
.fileItem.open .fileName {
  color: #ffffaa;
}
.fileOptions {
  background-color: #1f1f1f;
  background-image: url("images/seemore.png");
}
.fileItem.open .fileOptions {
  background-color: #1f1fff;
}

/*Highlighter*/
.hljs {
    display: block;
    background: #0a101f;
    background-image: linear-gradient(#211e03 50%, #ffffff00 50%);
    background-size: 100% 40px;
    background-position: 0 10px;
    color: #aaaaaa;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #888888;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-addition {
    color: #aaccff;
  }
  
  .hljs-number {
      color: #88aaff;
  }

  .hljs-string,
  .hljs-meta .hljs-meta-string,
  .hljs-literal,
  .hljs-doctag,
  .hljs-regexp {
    color: #88ffff;
  }

  .hljs-title,
  .hljs-section,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #8888ff;
    font-weight: bold;
  }
  
  .hljs-attribute,
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-class .hljs-title,
  .hljs-type {
    color: #ffff88;
    font-style: italic;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst,
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-link {
    color: #aaaaff;
  }
  
  .hljs-built_in,
  .hljs-deletion {
    color: #ffc030;
  }
  
  .hljs-formula {
    background: #000088;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  .popup .content p {
    color: #eeeeee;
}
.popup .content p b {
    color: #ffff88;
}
.toggleSwitch {
  background-color: #000088;
}
.toggleSwitch .icon {
  background-color: #ffff88;
}
.toggleSwitch:hover .icon {
  background-color: yellow;
}