* {
    color: #666666;
}
input, button {
    background-color: #dddddd;
    color: #222222;
}
::-webkit-scrollbar {
    background: #cccccc;
}
::-webkit-scrollbar-track {
    background: #666666
}
::-webkit-scrollbar-thumb{
    background: #111111;
    border: 1px solid #eeeeee;
    border-top-width: 2px;
    border-bottom-width: 2px;
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
  }
/*buttonBar colors*/
#buttonBar, #mobileBar {
    background-color: #cccccc;
}
#buttonBar button, #mobileBar button {
    background-color: #eeeeee;
}
#buttonBar button:hover, #mobileBar button:hover {
    background-color: #eeee00;
}
#toggleFilesButton:hover {
    background-color: #aaaaff;
}
.bigButton {
    background-color: #aaaaff;
}
.bigButton:hover {
    background-color: #eeee00;
}
#mobileBar button.open {
    background-color: #eeee00;
}
/*Button icons*/
#logo {
    background-image: url("images/logo.png");
}
#personalLogo {
    background-image: url("images/personalLogo.png");
}
#settingsButton {
    background-image: url("images/settings.png");
}
#shareButton {
    background-image: url("images/share.png");
}
#filesButton, #toggleFilesButton {
    background-image: url("images/files.png");
}
#codeButton {
    background-image: url("images/code.png");
}
#resultButton {
    background-image: url("images/result.png");
}
#newFile {
    background-image: url("images/plus.png");
}
#upload {
    background-image: url("images/upload.png");
}
#run {
    background-image: url("images/run.png");
}
#download {
    background-image: url("images/upload.png");
    transform: rotate(180deg);
}
#save {
    background-image: url("images/save.png");
}
/*main*/
main {
    background-color: #f0f0f0;
    background-image: url("images/logo.png");
}
#toggleFilesButton {
    background-color: #bbbbbb;
}
#files, .popup .content, .popup h1 {
    background-color: #fefefe;
}
#files, #code, #result, #mobilePlaceholder {
    background-color: #fefefe;
    border: 1px solid #888888;
}
#files #search {
    background-image: url("images/search.png");
}
/*Files*/
.fileItem {
    background-color: #f0f0f0;
    border-bottom: 2px solid #666666;
}
.fileItem:hover .fileName {
    color: #000066
}
.fileItem.open {
    background-color: #f0f000;
    border-bottom: 2px solid #666666;
}
.fileName {
    color: #666666;
    text-align: left;
    padding: 2px;
}
.fileItem.open .fileName {
    color: #000066;
}
.fileOptions {
    background-color: #e0e0e0;
    background-image: url("images/seemore.png");
}
.fileItem.open .fileOptions {
    background-color: #e0e000;
}
/*Highlighter*/
.hljs {
    display: block;
    background-color: #cbf7f3;
    background-image: linear-gradient(#f5efe0 50%, #ffffff00 50%);
    background-size: 100% 40px;
    background-position: 0 10px;
    color: #657b83;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #888888;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-addition {
    color: #0088ff;
  }
  
  .hljs-number {
      color: #0055aa;
  }

  .hljs-string,
  .hljs-meta .hljs-meta-string,
  .hljs-literal,
  .hljs-doctag,
  .hljs-regexp {
    color: #00aaaa;
  }

  .hljs-title,
  .hljs-section,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #0000ff;
    font-weight: bold;
  }
  
  .hljs-attribute,
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-class .hljs-title,
  .hljs-type {
    color: #888800;
    font-style: italic;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst,
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-link {
    color: #8888ff;
  }
  
  .hljs-built_in,
  .hljs-deletion {
    color: #e3b000;
  }
  
  .hljs-formula {
    background: #8888ff;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  /*pop-ups*/

.popup .content form {
    background-color: #000088;
    color: white;
    font-size: 30pt;
    max-width: 90%;
    margin-left: 50%!important;
    text-align: center;
    transform: translate(-50%, 0);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.popup .content form input, .popup .content form select, .popup .content form button {
    background-color: #ffffee;
    color: #000044;
    border: 2px solid #000044;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    max-width: 100%;
}
.popup .content form input:focus, .popup .content form select:focus, .popup .content form button:hover {
    border-color: gold;
}
.popup .content p {
    color: #111111;
}
.popup .content p b {
    color: #888800;
}
.toggleSwitch {
    background-color: #8888ff!important;
}
.toggleSwitch .icon {
    background-color: yellow;
}
.toggleSwitch:hover .icon {
    background-color: #ffff88;
}