* {
    color: #666666;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaaa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaaaaa;
  }
/*buttonBar colors*/
#buttonBar, #mobileBar {
    background-color: #cccccc;
}
#buttonBar button, #mobileBar button {
    background-color: #eeeeee;
}
#buttonBar button:hover, #mobileBar button:hover {
    background-color: #eeee00;
}
#toggleFilesButton:hover {
    background-color: #aaaaff;
}
.bigButton {
    background-color: #aaaaff;
}
.bigButton:hover {
    background-color: #eeee00;
}
#mobileBar button.open {
    background-color: #eeee00;
}
/*Button icons*/
#logo {
    background-image: url("images/logo.png");
}
#personalLogo {
    background-image: url("images/personalLogo.png");
}
#settingsButton {
    background-image: url("images/settings.png");
}
#shareButton {
    background-image: url("images/share.png");
}
#filesButton, #toggleFilesButton {
    background-image: url("images/files.png");
}
#codeButton {
    background-image: url("images/code.png");
}
#resultButton {
    background-image: url("images/result.png");
}
#newFile {
    background-image: url("images/plus.png");
}
#upload {
    background-image: url("images/upload.png");
}
/*main*/
main {
    background-color: #f0f0f0;
    background-image: url("images/logo.png");
}
#toggleFilesButton {
    background-color: #bbbbbb;
}
#files {
    background-color: #fefefe;
}
#files, #code, #result, #mobilePlaceholder {
    background-color: #fefefe;
    border: 1px solid #888888;
}
#files #search {
    background-image: url("images/search.png");
}
