body {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s;
}
main {
    display: block;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#buttonBar button, #mobileBar button {
    background-size: cover;
    background-position: center;
}
/*buttonBar landscape*/
@media only screen and (orientation: landscape) {
#buttonBar {
    height: 100vh;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 0;
}
#buttonBar button, #mobileBar button {
    height: 10vw;
    width: 10vw;
    margin-bottom: 2vw;
    float: left;
    max-height: 32vh;
}
.topButtons, .bottomButtons {
    left: 0;
    height: 22vw;
    width: 10vw;
    position: absolute;
}
.topButtons {
    top: 0;
}
.bottomButtons {
    bottom: 0;
}
main {
    height: 100vh;
    width: 90vw;
    top: 0;
    left: 10vw;
}
}
/*buttonBar portrait*/
@media only screen and (orientation: portrait) {
#buttonBar {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}
#buttonBar button, #mobileBar button {
    width: 10vh;
    height: 10vh;
    margin-right: 2vh;
}
#share {
    margin-right: 0!important;
}
.topButtons, .bottomButtons {
    left: 0;
    height: 10vh;
}
.topButtons {
    float: left;
}
.bottomButtons {
    float:  right;
}
main {
    height: 90vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    padding-left: 0;
}
}
#mobileBar {
    position: absolute;
    display: none;
}
/*portrait mobile*/
@media only screen and (orientation: portrait) {
    @media only screen and (max-width: 550px) {
        #mobileBar {
            display: block!important;
            width: 100vw;
            height: 10vh;
            bottom: 0;
            left: 0;
        }
        main {
            height: 80vh!important;
        }
        #files, #code, #result {
            display: none;
            width: 100%;
            height: 100%;
        }
        #files.open, #code.open, #result.open {
            display: block!important;
        }
    }
}
/*landscape mobile*/
@media only screen and (orientation: landscape) {
    @media only screen and (max-width: 850px) {
        #mobileBar {
            display: block!important;
            width: 10vw;
            height: 100vh;
            top: 0;
            left: 90vw;
        }
        main {
            width: 80vw!important;
        }
        #files, #code, #result {
            display: none;
            width: 100%;
            height: 100%;
        }
        #files.open, #code.open, #result.open {
            display: block!important;
        }
    }
}
#toggleFilesButton {
    display: none;
}
#closeFilesButton {
    display: none;
}
/*portrait pc*/
@media only screen and (orientation: portrait) {
    @media only screen and (min-width: 550px) {
        #toggleFilesButton {
            display: block;
            width: 20px;
            position: absolute;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 5;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        main {
            padding-left: 20px!important;
        }
        #files {
            width: 0;
            opacity: 0;
            overflow: hidden;
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
            z-index: 10;
        }
        #files.open {
            width: 100%;
            opacity: 1;
        }
        #closeFilesButton {
            display: block!important;
        }
        #code, #result {
            width: 100%;
            height: 50%;
        }
    }
}
/*landscape pc*/
@media only screen and (orientation: landscape) {
    @media only screen and (min-width: 850px) {
        #files {
            width: 20%;
        }
        #code {
            width: 45%;
        }
        #result {
            width: 34%;
        }
        #files, #code, #result {
            height: 100%;
            float: left;
        }
    }
}
/*files*/
#files .bigButton {
    width: 50%;
    height: 40px;
    float: left;
}