body {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
textarea:focus {
    border: 0;
    outline: 0;
    background-color: #888888;
}
.icon {
    height: 1em; width: 1em; margin: 2px; transform: translate(0, 0.25em);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s;
    font-family: 'Fira Mono', monospace;
}
input:focus, button:focus {
    outline: 0;
}
main {
    display: block;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#buttonBar button, #mobileBar button {
    background-size: cover;
    background-position: center;
}
/*buttonBar landscape*/
@media only screen and (orientation: landscape) {
#buttonBar {
    height: 100vh;
    width: 10vw;
    position: absolute;
    top: 0;
    left: 0;
}
#buttonBar button, #mobileBar button {
    height: 10vw;
    width: 10vw;
    margin-bottom: 2vw;
    float: left;
    max-height: 32vh;
}
.topButtons, .bottomButtons {
    left: 0;
    height: 22vw;
    width: 10vw;
    position: absolute;
}
.topButtons {
    top: 0;
}
.bottomButtons {
    bottom: 0;
}
main {
    height: 100vh;
    width: 90vw;
    top: 0;
    left: 10vw;
}
}
/*buttonBar portrait*/
@media only screen and (orientation: portrait) {
#buttonBar {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}
#buttonBar button, #mobileBar button {
    width: 10vh;
    height: 10vh;
    margin-right: 2vh;
}
#share {
    margin-right: 0!important;
}
.topButtons, .bottomButtons {
    left: 0;
    height: 10vh;
}
.topButtons {
    float: left;
}
.bottomButtons {
    float:  right;
}
main {
    height: 90vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    padding-left: 0;
}
}
#mobileBar {
    position: absolute;
    display: none;
}
h1 {
    font-size: 50px;
    color: #8888ff;
}
h2 {
    font-size: 30px;
    color: #8888ff;
}
h3 {
    font-size: 28px;
    color: #8888ff;
}
h4 {
    font-size: 26px;
    color: #8888ff;
}
h5 {
    font-size: 24px;
    color: #8888ff;
}
h6 {
    font-size: 22px;
    color: #8888ff;
}
.close {
    display: block;
    height: 50px;
    width: 50px;
    font-size: 50px;
    float: right;
    margin: 5px;
    color: #000088;
}
.close:hover  {
    color: #888800;
}
/*portrait mobile*/
@media only screen and (orientation: portrait) {
    @media only screen and (max-width: 450px) {
        #mobileBar {
            display: block!important;
            width: 100vw;
            height: 10vh;
            bottom: 0;
            left: 0;
        }
        main {
            height: 80vh!important;
        }
        #files, #code, #result {
            display: none;
            width: 100%;
            height: 100%;
        }
        #files.open, #code.open, #result.open {
            display: block!important;
        }
    }
}
/*landscape mobile*/
@media only screen and (orientation: landscape) {
    @media only screen and (max-width: 850px) {
        #mobileBar {
            display: block!important;
            width: 10vw;
            height: 100vh;
            top: 0;
            left: 90vw;
        }
        main {
            width: 80vw!important;
        }
        #files, #code, #result {
            display: none;
            width: 100%;
            height: 100%;
        }
        #files.open, #code.open, #result.open {
            display: block!important;
        }
    }
}
#toggleFilesButton {
    display: none;
}
#closeFilesButton {
    display: none;
}
/*portrait pc*/
@media only screen and (orientation: portrait) {
    @media only screen and (min-width: 450px) {
        #toggleFilesButton {
            display: block;
            width: 20px;
            position: absolute;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 5;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        main {
            padding-left: 20px!important;
        }
        #files {
            width: 0;
            opacity: 0;
            overflow: hidden;
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
            z-index: 10;
        }
        #files.open {
            width: 100%;
            opacity: 1;
        }
        #closeFilesButton {
            display: block!important;
        }
        #code, #result {
            width: 100%;
            height: 50%;
        }
    }
}
/*landscape pc*/
@media only screen and (orientation: landscape) {
    @media only screen and (min-width: 850px) {
        #files {
            width: 20%;
        }
        #code {
            width: 45%;
        }
        #result {
            width: 34%;
        }
        #files, #code, #result {
            height: 100%;
            float: left;
        }
    }
}
/*files*/
#files .bigButton {
    width: 50%;
    height: 10%;
    float: left;
}
#files #search {
    width: calc(98% - 7vh);
    height: 7vh;
    padding: 1%;
    padding-left: 7vh;
    font-size: 5vh;
    background-size: 5vh;
    background-position: left;
    background-repeat: no-repeat;
}
.bigButton {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.fileItem {
    width: 100%;
    height: 7vh;
    font-size: 5vh;
    padding: 1px;
    position: relative;
    cursor: pointer;
}
.fileName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 7vh);
    display: block;
}
.fileOptions {
    height: 5vh;
    width: 5vh;
    float: right;
    position: absolute;
    top: 1vh;
    right: 1vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*code*/
#plainCode {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background-color: transparent;
    color: transparent;
    caret-color: #888888;
    z-index: 2;
    padding: 10px;
    margin: 0;
    margin-left: 50px;
    border: 0;
    font-size: 15px;
    min-height: 100%;
    min-width: 100%;
    overflow: visible;
}
.linedwrap {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    min-height: 100%!important;
}
.emoji {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: linear-gradient(135deg, #00000000, #88880088, #00000000, #00008888, #00000000), 0% 90% / contain no-repeat url("images/personalLogo.png"), 0% 10% / contain no-repeat url("images/logo.png");
    background-size: contain;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    height: 100%;
    width: 45px;
}
.emoji span {
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-135deg, #00008888, transparent, #88880088);
    padding: 2px;
}
::selection {
    background: #ffff0088;
}
#richCode {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 10px;
    padding-left: 60px;
    margin: 0;
    border: 0;
    font-size: 15px;
    min-height: 100%;
    min-width: 100%;
    overflow: visible;
    white-space: nowrap;
}
.linedtextarea textarea, .linedwrap .codelines .lineno, #plainCode, #richCode {
    line-height: 20px;
}
#innerCode {
    display: block;
    width: 100%;
    height: 90%;
    overflow: auto;
    position: relative;

}
#code .bigButton {
    width: 100%;
    height: 10%;
    float: left;
}
.linedwrap {
	border: 0;
    padding: 3px;
}
/*result*/
#result .bigButton {
    width: 50%;
    height: 10%;
    float: left;
}
#result iframe {
    width: 100%;
    height: 90%;
    border:0;
    margin:0;
    padding:0;
    color:black;
    background:white;
}
iframe {
    color:black;
    background:white;
    border: 2px solid #888888;
    padding: 0;
    box-shadow: 2px 2px #888888;
}
/*z-indexes*/
#files {
    z-index: 5;
}
#code {
    z-index: 0;
}
#result {
    z-index: 10;
}
#buttonBar, #mobileBar {
    z-index: 15;
}
/*pop-ups*/
#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000aa;
    z-index: 100;
}
#popupOverlay.closed {
    pointer-events:  none;
    opacity: 0;
}
.popup {
    position: fixed;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    z-index: 101;
    border: 3px solid yellow;
    box-shadow: 3px 3px #ffff0088;
}
.popup.closed {
    pointer-events:  none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
}
.popup h1 {
    border-bottom: 3px solid #888888;
    font-size: 7vh;
    padding: 0.5vh;
    padding-left: 1vh;
    width: calc(100% - 1.5vh);
    height: calc(10% - 1vh);
    position: absolute;
    top: 0;
    left: 0;
}
.popup h1 span {
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
    padding-right: 1vh;
}
.popup h1 span:hover {
    color: #ffff00;
}
.popup .content {
    padding-left: 1vh;
    width: calc(100% - 3px);
    height: calc(90% - 3px);
    position: absolute;
    top: calc(10% + 3px);
    left: 0;
    overflow: auto;
}
.popup .content p {
    padding: 1vh;
    padding-left: 2vh;
}
#darkMode {
    width: 2rem;
    height: 1rem;
    background: linear-gradient(90deg, #8888ff,#8888ff,#8888ff, #000088,#000088, #000088);
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
.toggleSwitch {
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
.toggleSwitch .icon {
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    transform: translate(0, 0);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.toggleSwitch.on .icon {
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    transform: translate(1rem, 0);
    clip-path: polygon(22% 49%, 5% 66%, 23% 85%, 35% 98%, 50% 82%, 71% 62%, 87% 47%, 100% 30%, 85% 16%, 69% 33%, 58% 49%, 40% 67%);
}
#darkMode .icon {
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    background: yellow;
    border-radius: 0.5rem;
    transform: translate(0, 0);
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
#darkMode.dark .icon {
    margin: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    background: #ffff88;
    border-radius: 0.5rem;
    transform: translate(1rem, 0);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
a {
    color: #8888ff;
}